/****** Object:  StoredProcedure [CSIS].[Disable_InvoiceIndexes]    Script Date: 3/02/2020 4:08:28 PM ******/
DROP PROCEDURE IF EXISTS [CSIS].[Disable_InvoiceIndexes]
GO
/****** Object:  StoredProcedure [CSIS].[Disable_InvoiceIndexes]    Script Date: 3/02/2020 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [CSIS].[Disable_InvoiceIndexes] As
/***************************************************************************************************************************************************
Name: CSIS.Disable_InvoiceIndexes

Description: Disable selected indexes on table CSIS.Invoice
			Indexes are disabled during the load of CSIS.Invoice to boost the performance of this process.
			These indexes are not needed for that process
			but will be useful for general query performance from reportings tools.

			This stored procedure will not disable indexes that are UNIQUE.
	
Parameters: n/a

Modification History:
-----------------------------------------------------------------------------------------------------------------------------------------------------
Date		Name			Modification
-----------------------------------------------------------------------------------------------------------------------------------------------------
29Jan2020	S Kennedy		Initial Version
****************************************************************************************************************************************************/
DECLARE @IndexName	NVARCHAR (128)
	, @SchemaName	NVARCHAR (128)
	, @TableName	NVARCHAR (128)
	, @SQL			NVARCHAR (2000)
	;
DECLARE IndexList CURSOR FOR
	SELECT Object_Schema_Name (I.object_id) , Object_Name (I.object_id) , I.Name
		FROM sys.indexes I
		WHERE Object_Schema_Name (I.object_id) = 'CSIS'
		AND Object_Name (I.object_id) = 'Invoice'
		and I.is_unique = 0
		and I.is_disabled = 0
		AND I.Name NOT IN ('IX_CSIS.Invoice_FinancialAccountNum_EffectiveDate'); -- need for the Average Amount calc

OPEN IndexList;

FETCH NEXT FROM IndexList
	INTO @SchemaName, @TableName, @IndexName;

WHILE @@FETCH_STATUS = 0
BEGIN
	SET @SQL = '
IF EXISTS (SELECT * FROM sys.indexes I where I.name = ''' + @IndexName + ''' 
			AND OBJECT_Schema_NAME (I.Object_ID) = ''' + @SchemaName + '''
			AND OBJECT_NAME (I.Object_ID) = ''' + @TableName + '''
			and I.is_unique = 0
			and I.is_disabled = 0 )
BEGIN 
	alter index   [' + @IndexName + '] on  [' + @SchemaName + '].[' + @TableName + '] disable 
END'
	EXEC sp_executesql @SQL
	--PRINT @SQL
	FETCH NEXT FROM IndexList
		INTO @SchemaName, @TableName, @IndexName;
END
CLOSE IndexList
DEALLOCATE IndexList
GO
